<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Pedido</title>
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/formulario.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a id="image-ref" href="inicio.html">
                <img src="../assets/vegetables.png">
            </a>
            <ul>
                <li><a href="agregar-donacion.html">Agregar Donacion</a></li>
                <li><a href="agregar-pedido.html">Agregar Pedido</a></li>
                <li><a href="ver-donaciones.html">Ver Donaciones</a></li>
                <li><a href="ver-pedidos.html">Ver Pedidos</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <form id="donation-form" action="">
            <div class="form-container">
                <div id="region-input" class="form-group">
                    <div class="label-input">
                        <label for="region-select">Región</label>
                        <select id="region-select" name="region" required onchange="populate_comunas(data)">
                            <option value="" selected>Seleccione una region</option>
                        </select>
                    </div>
                    <div class="label-input">
                        <label for="comuna-select">Comuna</label>
                        <select id="comuna-select" name="comuna" required>
                            <option value="" selected>Seleccione una comuna</option>
                        </select>
                    </div>
                </div>
                <div id="order-type-input" class="form-group">
                    <div class="label-input">
                        <label for="order-select">Tipo de pedido</label>
                        <select id="order-select" name="tipo" required>
                            <option value="" selected>Seleccione tipo de pedido</option>
                            <option value="fruta">Frutas</option>
                            <option value="verdura">Verduras</option>
                            <option value="otro">Otros</option>
                        </select>
                    </div>
                </div>
                <div id="description" class="form-group">
                    <div class="label-input">
                        <label for="desc-input">Descripción del pedido</label>
                        <input id="desc-input" name="descripcion" type="text" size="80">
                    </div>
                </div>
                <div id="order-info" class="form-group">
                    <div class="label-input">
                        <label for="quantity-input">Cantidad</label>
                        <input id="quantity-input" name="cantidad" type="text" size="10" required>
                    </div>
                </div>
                <div id="customer-name" class="form-group">
                    <div class="label-input">
                        <label for="name-input">Nombre del solicitante</label>
                        <input id="name-input" name="nombre" type="text" size="80" required>
                    </div>
                </div>
                <div id="contact-info" class="form-group">
                    <div class="label-input">
                        <label for="email-input">Correo</label>
                        <input id="email-input" name="email" type="email" size="30" required>
                    </div>
                    <div class="label-input">
                        <label for="cel-num">Número Telefónico</label>
                        <input id="cel-num" name="celular" type="text" size="15">
                    </div>
                </div>
                <div id="submit-button" class="form-group">
                    <button id="submit-order">Agregar Donación</button>
                </div>
            </div>
        </form>
    </div>
    <script src="../js/formulario.js"></script>
</body>
</html>