<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion Pedido</title>
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/info.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a id="image-ref" href="inicio.html">
                <img src="../assets/vegetables.png">
            </a>
            <ul>
                <li><a href="agregar-donacion.html">Agregar Donacion</a></li>
                <li><a href="agregar-pedido.html">Agregar Pedido</a></li>
                <li><a href="ver-donaciones.html">Ver Donaciones</a></li>
                <li><a href="ver-pedidos.html">Ver Pedidos</a></li>
            </ul>
        </nav>
    </header>
    <div class="info-container">
        <div id="order-info">
            <h2>Informacion personal</h2>
        </div>
        <div id="order-data">
            <h2>Datos del pedido</h2>
        </div>
    </div>
    <div class="btn-container">
        <a href="ver-pedidos.html">
            <button>
                Volver a pedidos
            </button>
        </a>
    </div>
    <script src="../js/info.js"></script>
</body>
</html>