{% extends 'base.html' %}

{% block css%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css') }}">
{% endblock %}    

{% block content %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>
                        Comuna
                    </th>
                    <th>
                        Tipo
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Nombre solicitante
                    </th>
                </tr>
            </thead>
            <tbody id="order-table">
            </tbody>
        </table>
    </div>
    <div class="btn-container">
        <a href="inicio.html">
            <button>
                Volver al inicio
            </button>
        </a>
    </div>
{% endblock %}

{% block js%}
    <script src="{{ url_for('static', filename='js/formulario.js') }}"></script>
{% endblock %}
</html>